# Database Config
PG_PORT=5432
PG_DB=your_db
PG_USER=your_user
PG_PASSWORD=your_password

# LLM / Inference Server / Embedding
LLM_MODEL=llama3
EMBEDDING_MODEL=mxbai-embed-large
OLLAMA_BASE_URL=http://ollama:11434